@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&display=swap');
body {
    background-color: rgb(99, 180, 204);
    /* font-size: 15px; */
    height: 100%;
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.content-tabel {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 250px;
    font-size: 0,9em;
    text-align: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0,15);
}
.content-tabel thead tr {
    background-color:#009879;
    color: black;
    text-align: center;
    font-weight: bold;
}
.content-tabel th,
.content-tabel td {
    padding: 12px 15px;
}
.content-tabel tbody tr {
    border-bottom: 1px solid #000000;
}
.content-tabel tbody tr:nth-of-type(even) {
    background-color: rgb(139, 236, 199);
}
.content-tabel tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.bilder {
    width: 180px;
    height: 100px;
}
footer {
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    text-align: center;
    background-color: #009879;
    color: black;
    padding: 5px;
}

.media-footer {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.text-footer {
    padding: 5px;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.front-logo {
      background-image: url(/Bilder/Nordiske-flag.jpg);
      background-position:center;
      background-repeat: no-repeat;
      padding: 100px;
      max-height: 50px;
      opacity: .85;
      scale: 100%;
      display: flex;
      flex-direction:column;
      align-items: center;
      color: rgb(36, 218, 142);
      justify-content: center;
}

.logo-text {
    padding: 15px;
    padding-left: 40px;
    font-family: 'Satisfy', cursive;
    font-size: 60px;   
    text-align: center;
}




.fa-brands:hover {
    color: #2418cc;
    cursor: pointer;
}