.content-tabel {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    font-size: 0,9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0,15);
}
.content-tabel thead tr {
    background-color:#009879;
    color: black;
    text-align: left;
    font-weight: bold;
}
.content-tabel th,
.content-tabel td {
    padding: 12px 15px;
}
.content-tabel tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-tabel tbody tr:nth-of-type(even) {
    background-color: beige;
}
.content-tabel tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}